<!-- <div [innerHTML]="htmlString">Loading...</div> -->
<style>
    .the-iframe {
        background: url(assets/images/loading.gif) center center no-repeat;
    }
</style>
<div *ngIf="safeUrl; else elseBlock" style="height:100%;" [ngClass]="isLoading ? 'the-iframe' : ''">
    <iframe style="width:100%; height:100%" [src]="safeUrl || 'assets/404.html'" (load)="onLoad()" ></iframe>
</div>
<ng-template #elseBlock>
    <div style="padding: 1em;">
        <p>Không có dữ liệu</p>
    </div>
</ng-template>